<div class="row">
    <div class=col-md-10>
        <div class="form-group row">
            <label class="control-label text-right col-md-2">Buscar Proveedores</label>
            <div class="col-md-10">
                <input type="search" class="form-control" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="btn-group">
            <button type="button" class="btn pull-right btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
          </button>
            <div class="dropdown-menu">
                <a id="supplierMod" data-toggle="modal" class="dropdown-item">Agregar Subcuenta</a>
                <a class="dropdown-item" [hidden]="!loadButton" [routerLink]="['/upload']">Cargar Archivo</a>
            </div>
        </div>
    </div>
</div>
<hr/>

<!-- Comienza Tabla de Cuentas -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Catalogo de Cuentas Contables</h4>
                <h6 class="card-subtitle">Agrege Subcuentas al Catalogo</h6>

                <table id="demo-foo-row-toggler" class="table tablesaw-bar table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Balance</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let acc of accounting | suppliersFilter: filterPost let i = index">
                        <tr>
                            <td><button type="button" data-toggle="collapse" [attr.data-target]="'#'+ 'prefix' + i" class="btn btn-xs btn-circle btn-secondary"><i class="fa fa-plus"></i></button></td>
                            <td>
                                <h4> {{acc.company}} </h4>
                            </td>
                            <td>{{acc.email}}</td>
                            <td>{{acc.phone}}</td>
                            <td>{{acc.balance | currency}}</td>
                            <td>{{acc.status}}</td>
                            <td><button href="#/" (click)="tellChild(acc)" class="btn btn-xs btn-rounded btn-secondary" data-toggle="modal" data-target="#suppModal">Editar</button></td>

                        </tr>
                        <tr [attr.id]="'prefix' + i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <td colspan="6">
                                <div class="card-body">
                                    <thead>
                                        <tr>
                                            <th>contacto</th>
                                            <th>telefono 2</th>
                                            <th>calle</th>
                                            <th>numero</th>
                                            <th>cp</th>
                                            <th>ciudad</th>
                                            <th>estado</th>
                                            <!-- <td>{{su.balance | currency}}</td> -->
                                            <!-- <td *ngIf="!su.status"><span [attr.class]="label" class="label label-table label-danger">INACTIVE</span></td> -->
                                            <!-- <td *ngIf="su.status"><span class="label label-table label-success">ACTIVE</span></td> -->
                                            <!-- <td><button class="btn btn-rounded btn-sm btn-info" (click)="tellChild(su)" data-toggle="modal" data-target="#myModal">Editar</button></td> -->

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><small>{{acc.firstName}}</small></td>
                                            <td>{{acc.mobile}}</td>
                                            <td>{{acc.street}}</td>
                                            <td>{{acc.number}}</td>
                                            <td>{{acc.code}}</td>
                                            <td>{{acc.city}}</td>
                                            <td>{{acc.state}}</td>

                                        </tr>
                                    </tbody>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="suppModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Forma para agregar nuevo Proveedor</h4>
            </div>
            <div class="modal-body">
                <app-supplier-form [updateSupp]="updateValue"></app-supplier-form>
            </div>
        </div>
    </div>
</div>